<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    function enviarMensaje() {
      const user = document.getElementById('user').value;
      const message = document.getElementById('message').value;
      socket.emit('mensaje', { user, message });
    }

    socket.on('mensaje', (data) => {
      const mensaje = `${data.user}: ${data.message}`;
      const listaMensajes = document.getElementById('lista-mensajes');
      const nuevoMensaje = document.createElement('li');
      nuevoMensaje.textContent = mensaje;
      listaMensajes.appendChild(nuevoMensaje);
    });
  </script>
</head>
<body>
  <h1>Chat</h1>
  <ul id="lista-mensajes"></ul>
  <input type="text" id="user" placeholder="Usuario">
  <input type="text" id="message" placeholder="Mensaje">
  <button onclick="enviarMensaje()">Enviar</button>
</body>
</html>