<div>
        <h1>Registro</h1>
        <form id="registerForm">
            <label>Nombre</label>
            <input name="first_name" autocomplete="off">
            <label>Apellido</label>
            <input name="last_name" autocomplete="off">
            <label>Email</label>
            <input name="email" autocomplete="off">
            <label>Edad</label>
            <input name="age" autocomplete="off">
            <label>Contraseña</label>
            <input type="password" name="password" autocomplete="off">

            <input type="submit">

        </form>
        <p>¿Ya tienes una cuenta? <a href="/">Ingrese aquí</a></p>
</div>
<script src="js/register.js"></script>